.content{
    height: 100%;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    position: relative;
}
.word{
    scroll-snap-align: start;
    scroll-margin-top: 12px;
    min-height: 200px;
}
.head{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
